<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" optional="true"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" optional="true"/>

    <!-- Default root logger configuration -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework.web" level="DEBUG"/>

    <!-- File appender for the 'documan' profile -->
    <springProfile name="documan">
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>logs/documan-app.log</file>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
        <root level="DEBUG">
            <appender-ref ref="FILE"/>
        </root>
        <root level="ERROR">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
    
    <!-- File appender for the 'documan-secrets' profile -->
    <springProfile name="documan-secrets">
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>logs/documan-secrets.log</file>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
        <root level="DEBUG">
            <appender-ref ref="FILE"/>
        </root>
        <root level="ERROR">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>
